<%
  var ads = [
    <!-- {
      href: 'https://bbs.zuqiuxunlian.com/topic/5ca34d64473ec56b273d4916',
      label: 'ilovefootball',
      img_src: '//static.zuqiuxunlian.com/FunK-qRFmgwUkC4FsTUmwzgV8eOs',
    },
    {
      href: 'https://bbs.zuqiuxunlian.com/topic/5d043517679e547c4566a8d6',
      label: 'cacahshalong',
      img_src: '//static.zuqiuxunlian.com/FrJb6Ekzdm_QpFWzbrQ9k8RBjbiT',
    } -->
  ];

    var randomNum = (new Date()).getMinutes() % ads.length;

    ads = ads.slice(randomNum).concat(ads.slice(0, randomNum));
%>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep10"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>">
      </a>
    <% }) %>
  </div>
</div>
