<div class='col_fade'>
  <p>足球教练沙龙是2016年2月由一群热爱足球的业余爱好者共同创建的一个学习园地！</p>
  <p>论坛由一起踢足球训练营-王腾搭建。
    <!-- <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"
      class="sponsor_outlink" data-label="digitalocean">
      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"
      alt="digitalocean" width="92px"/>
    </a>
  ，存储赞助商为
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/qiniu.png') %>" title="七牛云存储"
      alt="七牛云存储" width="115px"/>
    </a>
  </p>
  <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p> -->
</div>
