<div class='col_fade'>
  <p>足球教练沙龙社区-聚集全国最广泛的教练成员</p>
  <p>合作俱乐部展示：</p>
  <p>
    <a class="sponsor_outlink" data-label="over_seas">
      <img src="<%- staticFile('/public/images/over_seas_fc_128.png') %>" title="over_seas"
      alt="over_seas" width="128px"/>
    </a>
    <a class="sponsor_outlink" data-label="huaining_sailing">
      <img src="<%- staticFile('/public/images/huaining_sailing_128.png') %>" title="huaining_sailing"
      alt="huaining_sailing" width="128px"/>
    </a>
    <a href="http://www.zuqiuxunlian.com" target="_blank"
      class="sponsor_outlink" data-label="yiqiti">
      <img src="<%- staticFile('/public/images/yiqiti_128.png') %>" title="yiqiti"
      alt="yiqiti" width="128px"/>
    </a>
    <a class="sponsor_outlink" data-label="co_beijixing_128">
      <img src="<%- staticFile('/public/images/co_beijixing_128.png') %>" title="co_beijixing_128"
      alt="co_beijixing_128" width="128px"/>
    </a>
    <a class="sponsor_outlink" data-label="co_hubei_jx_128">
      <img src="<%- staticFile('/public/images/co_hubei_jx_128.png') %>" title="co_hubei_jx_128"
      alt="co_hubei_jx_128" width="128px"/>
    </a>
    <a class="sponsor_outlink" data-label="co_juli_128">
      <img src="<%- staticFile('/public/images/co_juli_128.png') %>" title="co_juli_128"
      alt="co_juli_128" width="128px"/>
    </a>
    <a class="sponsor_outlink" data-label="co_lgfc">
      <img src="<%- staticFile('/public/images/co_lgfc.png') %>" title="co_lgfc"
      alt="co_lgfc" width="128px"/>
    </a>
        
      <!-- <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"
      class="sponsor_outlink" data-label="digitalocean">
      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"
      alt="digitalocean" width="92px"/>
    </a> -->
  <!-- ，存储赞助商为
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/qiniu.png') %>" title="七牛云存储"
      alt="七牛云存储" width="115px"/>
    </a> -->
  </p>
  <!-- <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p> -->
</div>
