<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
足球教练沙龙为国内最大的最具影响力的教练社区，致力于足球训练的实践。

足球教练沙龙在2016年2月由一群热爱足球的业余爱好者共同创建的，目前已经吸引了全国各个青训俱乐部的专业教练人员加入，我们非常欢迎更多对足球训练感兴趣的朋友。

服务于所有热爱足球并参与足球训练的专职、业余教练员、体育老师、志愿者以及足球爱好者们。每天提供训练教案、战术动画、教练故事、培训信息等线上信息资源共享，线下组织交流沙龙，业余培训及观摩课，实践机会等活动。

社区目前由 [@awong1900](http://bbs.zuqiuxunlian.com/user/awong1900) 在维护，有问题请联系：awong1900@163.com

请关注我们的官方微信公众号：coach-bj

*/
        })) %>
      </div>
    </div>
  </div>
</div>
