<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
足球教练社区希望聚集全国最广泛的教练成员。希望教练有一个可以互相交流和沟通的大本营，无论你来自哪个俱乐部，无论你的教练级别。

我们鼓励你:-

- 分享做为教练或者老师时，好用的秘诀,想法和经历。
- 当碰到不同级别的困难时，寻找建议。
- 以一个积极的态度与其他成员交流。
- 勇敢!

### 目标：
成为一个教练的垂直社区，聚集全国最广泛的基层教练员。在此基础上，进行足球训练，心得分享，足球技巧的讨论。最后吸引足球妈妈和足球爸爸参与讨论。在开放和活跃的社区氛围下，诞生许多自组织的活动。社区尽全力提供足球服务，不限于资讯，教案，工具。社区将严格按照非营利组织方式运行，建立透明的财务制度和公平的参与机制。

### 财务文档
财务支出为开发费用，营销费用。预计以后的收入为广告收入和赞助收入。https://www.teambition.com/project/5ccc67b50f2f6f001861c055/bookkeeping （请用电脑打开）

### 社区管理架构
- 顾问团若干：赵瑞田、徐志斌、
- 管理员1位：王腾
- 副管理员2位：周世泉、
- 技术开发若干：王腾、
- 运营若干：赵汉晨、张毅、孟勇、潘健、廖旭东、

### 如何参与社区开发和运营？
我们通过Teambition项目管理工具组织开发和运营。项目公开地址：https://www.teambition.com/project/5ccc67b50f2f6f001861c055/ （请用电脑打开）。我们会把所有需要做的事情分解成一个个小任务，任何人都可以提交任务建议和评论。但是只有项目成员才可以领取和修改任务。加入项目成员请联系管理员（微信：awong1900，邮箱：awong1900@163.com）。 让我们像一个球队一样团队合作，赢得胜利。

### 教练俱乐部
[添加您的俱乐部](//bbs.zuqiuxunlian.com/topic/5c22ea5471079f5083004bc7)
- 山东

[![](//static.zuqiuxunlian.com/public/images/over_seas_fc_128.png "山东滨州肆海足球俱乐部")](https://www.binzhouw.com/app/detail/184/185286.html)

- 安徽

![](//static.zuqiuxunlian.com/public/images/huaining_sailing_128.png "怀宁启航")

- 广东

[![](//static.zuqiuxunlian.com/public/images/yiqiti_128.png "一起踢足球训练营")](https://zuqiuxunlian.com)

- 福建

![](//static.zuqiuxunlian.com/public/images/co_beijixing_128.png "福建北极星足球俱乐部") [![](//static.zuqiuxunlian.com/public/images/co_wpxf_128.png "武平先锋足球俱乐部")](https://mp.weixin.qq.com/s/xFDiLLvCeAH2ytw_BA-kkA)

- 湖北

![](//static.zuqiuxunlian.com/public/images/co_hubei_jx_128.png "湖北剑箫")

- 四川

[![](//static.zuqiuxunlian.com/public/images/co_juli_128.png "绵州聚力")](https://item.btime.com/m_98936d5d819051b23)

- 吉林

![](//static.zuqiuxunlian.com/public/images/co_lgfc_128.png "龙港足球俱乐部")

*/
        })) %>
      </div>
    </div>
  </div>
</div>
