<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
足球教练沙龙社区希望聚集全国最广泛的教练成员。希望教练有一个可以互相交流和沟通的大本营，无论你来自哪个俱乐部，无论你的教练级别。

我们鼓励你:-
- 分享做为教练或者老师时，好用的秘诀,想法和经历。
- 当碰到不同级别的困难时，寻找建议。
- 以一个积极的态度与其他成员交流。
- 勇敢!

足球教练沙龙在2016年2月由一群热爱足球的业余爱好者赵瑞田等共同创建的，官方微信公众号：coach-bj. QQ群：277057001。沙龙目前已经吸引了全国各个青训俱乐部的专业教练人员加入。沙龙非常欢迎更多对足球训练感兴趣的朋友。沙龙服务于所有热爱足球并参与足球训练的专职、业余教练员、体育老师、志愿者以及足球爱好者们。每天提供训练教案、战术动画、教练故事、培训信息等线上信息资源共享，线下组织交流沙龙，业余培训及观摩课，实践机会等活动。

沙龙社区是由沙龙会员群的小伙伴一起发起的。目前由 [@awong1900](//bbs.zuqiuxunlian.com/user/awong1900)等在维护，有问题请联系：zuqiuxunlian@163.com。我们正在招运营人员。

### 教练俱乐部
[添加您的俱乐部](//bbs.zuqiuxunlian.com/topic/5c22ea5471079f5083004bc7)
- 山东

[![](//static.zuqiuxunlian.com/public/images/over_seas_fc_128.png "山东滨州肆海足球俱乐部")](https://www.binzhouw.com/app/detail/184/185286.html)

- 安徽

![](//static.zuqiuxunlian.com/public/images/huaining_sailing_128.png "怀宁启航")

- 广东

[![](//static.zuqiuxunlian.com/public/images/yiqiti_128.png "一起踢足球训练营")](https://zuqiuxunlian.com)

- 福建

![](//static.zuqiuxunlian.com/public/images/co_beijixing_128.png "福建北极星足球俱乐部") [![](//static.zuqiuxunlian.com/public/images/co_wpxf_128.png "武平先锋足球俱乐部")](https://mp.weixin.qq.com/s/xFDiLLvCeAH2ytw_BA-kkA)

- 湖北

![](//static.zuqiuxunlian.com/public/images/co_hubei_jx_128.png "湖北剑箫")

- 四川

[![](//static.zuqiuxunlian.com/public/images/co_juli_128.png "绵州聚力")](https://item.btime.com/m_98936d5d819051b23)

- 吉林

![](//static.zuqiuxunlian.com/public/images/co_lgfc_128.png "龙港足球俱乐部")

*/
        })) %>
      </div>
    </div>
  </div>
</div>
