<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>沙龙论坛公约</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## 沙龙论坛公约
  - 论坛目前邀请制，沙龙会员注册
  - 请勿分享无版权教案，引用请注明
  - 请勿发广告和类似行为
  - 主题限制在足球训练范围
  - 请保持发言友好态度
  - 其他不限制
  
*/
        })) %>
      </div>
    </div>
  </div>
</div>
