<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>沙龙论坛公约</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
![image.png](//static.zuqiuxunlian.com/Fokyr0eJ1mftznoYFbQ6-ZCOs5wr)
***
欢迎来足球教练沙龙社区，希望你可以提供贡献帮助社区成长。
保持善良和礼貌
这是一个学习的空间！通过加入我们，我们希望您承认我们每个人都拥有各种经验和观点，所有人，在这个平台上都获得公平的地位。不允许有任何的对人身攻击的内容，以及禁止发推广链接，禁止争吵，讨论政治，或者是对我们的帖子进行灌水。违反这些简单标准的会员将收到警告和/或从该组中删除。所以请保持你发言以及评论来维护我们的学习环境！
 
最后......保持积极态度，并帮助保持这一群体成为我们所有人的有效学习工具。
**请勿发广告和类似行为**
请不要发布一些关于培训以及球员或者教练员装备的营销信息，也不要试图宣传你的球员是下一个尚未被发现的梅西之类的视频。
如果您有一个您认为会使广大的教练沙龙成员受益的产品，请联系管理员。 联系方式：微信：awong1900 Email：zuqiuxunlian@163.com
**意见**
在线分享的意见也会产生法律责任… 请避免发布可能被视为对其他俱乐部，教练或教练业务诽谤的帖子。
这里有一些教练自己分享的个人的文章或者心得，在未经过他们本人允许的过程中，请不要转载，避免侵权，如果你违反了这一行为，我们将会对个人或者组织追究其法律责任。
如果我们有一些关于侵权的问题也请及时联系我们的管理员，我们会尽快处理。
**保持回复相关**
请保持您的回复和话题都有和足球教练相关
**保持积极态度**
违反这些简单标准的成员将收到警告或被禁止发言。
*/
        })) %>
      </div>
    </div>
  </div>
</div>
